Create a dataframe having at least 3 columns and 50 rows to store numeric data generated using a random
function. Replace 10% of the values by null values whose index positions are generated using random function.
Do the following:
a. Identify and count missing values in a dataframe.
b. Drop the column having more than 5 null values.
c. Identify the row label having maximum of the sum of all values in a row and drop that row.
d. Sort the dataframe on the basis of the first column.
e. Remove all duplicates from the first column.
f. Find the correlation between first and second column and covariance between second and third
column.

In [1]:
import pandas as pd
import numpy as np

In [2]:
obj=pd.DataFrame(np.random.randn(150).reshape(50,3))

In [3]:
obj[obj<-1.4]=np.nan

In [4]:
obj

           0         1         2
0  -0.417676 -0.598012 -0.288783
1   0.757638  0.338325 -0.500216
2        NaN  0.155963  0.813291
3   0.504638  0.283598       NaN
4  -0.736662 -0.002920  0.293903
5   0.574591  1.039130 -0.429481
6        NaN -0.365191 -0.179806
7        NaN -0.668716 -1.065847
8   0.901394 -0.159773 -1.031113
9   0.073649 -0.493008       NaN
10 -0.913004 -0.939257 -0.241751
11 -0.951817  0.179681  0.139768
12       NaN  0.793499  0.170803
13 -0.503059 -0.970441  1.491055
14 -0.906544  0.556871 -0.399025
15  0.610612  0.349124 -1.084420
16       NaN -0.559982 -0.218954
17  1.251543 -0.111353 -0.745890
18  0.397100 -1.154495  0.299300
19  0.445539 -0.072417  0.290886
20 -1.281009 -0.575032 -0.304817
21  0.356564       NaN  1.394588
22  1.102372  0.652576  1.399702
23  1.410362 -0.922903 -1.398627
24  0.188150 -1.298734  1.644071
25 -0.717705  1.170864  0.896404
26 -0.043029 -1.214274 -0.652467
27 -0.022622  0.903048 -0.378582
28  0.369756 -0.482914  0.614776
29       NaN  0.524484 -0.236521
30  0.779608  0.512515  0.333971
31  0.780805 -0.957087  0.766913
32  0.519360  0.161607  1.110161
33  0.450038 -0.728070 -1.188118
34 -0.792192  0.873148 -0.756180
35 -0.358010  0.596786 -1.222786
36  1.387985  1.355693  1.544770
37 -0.075947 -1.223639 -0.260060
38       NaN  0.345205 -0.105158
39  1.873059 -0.989156  0.070629
40 -0.548557 -1.116662 -0.145580
41 -0.407579 -0.573092  0.197051
42  1.520750  0.727849 -0.881798
43       NaN  0.157336 -0.494185
44 -0.652939       NaN -1.081670
45  1.163921  0.967116  0.592398
46 -0.309557  0.477832 -0.458429
47  0.703966 -1.325909  0.793608
48  1.178347  1.546288  1.363904
49  1.337311  0.779292  0.144080

### a. Identify and count missing values in a dataframe.

In [5]:
obj.isnull()

        0      1      2
0   False  False  False
1   False  False  False
2    True  False  False
3   False  False   True
4   False  False  False
5   False  False  False
6    True  False  False
7    True  False  False
8   False  False  False
9   False  False   True
10  False  False  False
11  False  False  False
12   True  False  False
13  False  False  False
14  False  False  False
15  False  False  False
16   True  False  False
17  False  False  False
18  False  False  False
19  False  False  False
20  False  False  False
21  False   True  False
22  False  False  False
23  False  False  False
24  False  False  False
25  False  False  False
26  False  False  False
27  False  False  False
28  False  False  False
29   True  False  False
30  False  False  False
31  False  False  False
32  False  False  False
33  False  False  False
34  False  False  False
35  False  False  False
36  False  False  False
37  False  False  False
38   True  False  False
39  False  False  False
40  False  False  False
41  False  False  False
42  False  False  False
43   True  False  False
44  False   True  False
45  False  False  False
46  False  False  False
47  False  False  False
48  False  False  False
49  False  False  False

In [6]:
obj.isnull().sum()

0    8
1    2
2    2
dtype: int64

In [7]:
obj.isnull().sum().sum()

12

### b. Drop the column having more than 5 null values.

In [10]:
obj=obj.drop(0,axis=1)
obj

           1         2
0  -0.598012 -0.288783
1   0.338325 -0.500216
2   0.155963  0.813291
3   0.283598       NaN
4  -0.002920  0.293903
5   1.039130 -0.429481
6  -0.365191 -0.179806
7  -0.668716 -1.065847
8  -0.159773 -1.031113
9  -0.493008       NaN
10 -0.939257 -0.241751
11  0.179681  0.139768
12  0.793499  0.170803
13 -0.970441  1.491055
14  0.556871 -0.399025
15  0.349124 -1.084420
16 -0.559982 -0.218954
17 -0.111353 -0.745890
18 -1.154495  0.299300
19 -0.072417  0.290886
20 -0.575032 -0.304817
21       NaN  1.394588
22  0.652576  1.399702
23 -0.922903 -1.398627
24 -1.298734  1.644071
25  1.170864  0.896404
26 -1.214274 -0.652467
27  0.903048 -0.378582
28 -0.482914  0.614776
29  0.524484 -0.236521
30  0.512515  0.333971
31 -0.957087  0.766913
32  0.161607  1.110161
33 -0.728070 -1.188118
34  0.873148 -0.756180
35  0.596786 -1.222786
36  1.355693  1.544770
37 -1.223639 -0.260060
38  0.345205 -0.105158
39 -0.989156  0.070629
40 -1.116662 -0.145580
41 -0.573092  0.197051
42  0.727849 -0.881798
43  0.157336 -0.494185
44       NaN -1.081670
45  0.967116  0.592398
46  0.477832 -0.458429
47 -1.325909  0.793608
48  1.546288  1.363904
49  0.779292  0.144080

### Identify the row label having maximum of the sum of all values in a row and drop that row.

In [16]:
f=lambda x:x[1]+x[2]

In [23]:
obj.apply(f,axis=1).idxmax()

48

In [25]:
obj.loc[48]

1    1.546288
2    1.363904
Name: 48, dtype: float64

In [29]:
obj.drop(48,inplace=True)

In [30]:
obj

           1         2
0  -0.598012 -0.288783
1   0.338325 -0.500216
2   0.155963  0.813291
3   0.283598       NaN
4  -0.002920  0.293903
5   1.039130 -0.429481
6  -0.365191 -0.179806
7  -0.668716 -1.065847
8  -0.159773 -1.031113
9  -0.493008       NaN
10 -0.939257 -0.241751
11  0.179681  0.139768
12  0.793499  0.170803
13 -0.970441  1.491055
14  0.556871 -0.399025
15  0.349124 -1.084420
16 -0.559982 -0.218954
17 -0.111353 -0.745890
18 -1.154495  0.299300
19 -0.072417  0.290886
20 -0.575032 -0.304817
21       NaN  1.394588
22  0.652576  1.399702
23 -0.922903 -1.398627
24 -1.298734  1.644071
25  1.170864  0.896404
26 -1.214274 -0.652467
27  0.903048 -0.378582
28 -0.482914  0.614776
29  0.524484 -0.236521
30  0.512515  0.333971
31 -0.957087  0.766913
32  0.161607  1.110161
33 -0.728070 -1.188118
34  0.873148 -0.756180
35  0.596786 -1.222786
36  1.355693  1.544770
37 -1.223639 -0.260060
38  0.345205 -0.105158
39 -0.989156  0.070629
40 -1.116662 -0.145580
41 -0.573092  0.197051
42  0.727849 -0.881798
43  0.157336 -0.494185
44       NaN -1.081670
45  0.967116  0.592398
46  0.477832 -0.458429
47 -1.325909  0.793608
49  0.779292  0.144080

### d. Sort the dataframe on the basis of the first column.

In [41]:
obj.sort_values(by=1,inplace=True)
obj

           1         2
47 -1.325909  0.793608
24 -1.298734  1.644071
37 -1.223639 -0.260060
26 -1.214274 -0.652467
18 -1.154495  0.299300
40 -1.116662 -0.145580
39 -0.989156  0.070629
13 -0.970441  1.491055
31 -0.957087  0.766913
10 -0.939257 -0.241751
23 -0.922903 -1.398627
33 -0.728070 -1.188118
7  -0.668716 -1.065847
0  -0.598012 -0.288783
20 -0.575032 -0.304817
41 -0.573092  0.197051
16 -0.559982 -0.218954
9  -0.493008       NaN
28 -0.482914  0.614776
6  -0.365191 -0.179806
8  -0.159773 -1.031113
17 -0.111353 -0.745890
19 -0.072417  0.290886
4  -0.002920  0.293903
2   0.155963  0.813291
43  0.157336 -0.494185
32  0.161607  1.110161
11  0.179681  0.139768
3   0.283598       NaN
1   0.338325 -0.500216
38  0.345205 -0.105158
15  0.349124 -1.084420
46  0.477832 -0.458429
30  0.512515  0.333971
29  0.524484 -0.236521
14  0.556871 -0.399025
35  0.596786 -1.222786
22  0.652576  1.399702
42  0.727849 -0.881798
49  0.779292  0.144080
12  0.793499  0.170803
34  0.873148 -0.756180
27  0.903048 -0.378582
45  0.967116  0.592398
5   1.039130 -0.429481
25  1.170864  0.896404
36  1.355693  1.544770
21       NaN  1.394588
44       NaN -1.081670

### e. Remove all duplicates from the first column.

In [58]:
obj.shape[0]

49

In [60]:
obj=obj.drop_duplicates(1)
obj.shape[0]

48

### f. Find the correlation between first and second column and covariance between second and third column.

In [61]:
obj=pd.DataFrame(np.random.randn(150).reshape(50,3))

In [62]:
obj[0].corr(obj[1])

-0.09296933559895806

In [63]:
obj[1].cov(obj[2])

-0.15584685401360507